Rbr/RbrDashboard/RbrSilverlight/Service References/ServiceReference/RbrDashboardService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://www.timok.com/services/v3.0" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.timok.com/services/v3.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.timok.com/services/v3.0/Imports">
      <xsd:import schemaLocation="http://localhost:4767/Services/RbrDashboardService.svc?xsd=xsd0" namespace="http://www.timok.com/services/v3.0" />
      <xsd:import schemaLocation="http://localhost:4767/Services/RbrDashboardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4767/Services/RbrDashboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RbrData.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DashboardService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="DashboardService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetNodeReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeReport" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetNodeReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeReportResponse" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetCustomerReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerReport" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetCustomerReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerReportResponse" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetRouteReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteReport" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetRouteReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRouteReportResponse" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetTrunkReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrunkReport" />
  </wsdl:message>
  <wsdl:message name="DashboardService_GetTrunkReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrunkReportResponse" />
  </wsdl:message>
  <wsdl:message name="DashboardService_Logger_InputMessage">
    <wsdl:part name="parameters" element="tns:Logger" />
  </wsdl:message>
  <wsdl:message name="DashboardService_Logger_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoggerResponse" />
  </wsdl:message>
  <wsdl:portType name="DashboardService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="LoginRequest" message="tns:DashboardService_Login_InputMessage" />
      <wsdl:output wsaw:Action="LoginResponse" message="tns:DashboardService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNodeReport">
      <wsdl:input wsaw:Action="GetNodesReportRequest" message="tns:DashboardService_GetNodeReport_InputMessage" />
      <wsdl:output wsaw:Action="GetNodesReportResponse" message="tns:DashboardService_GetNodeReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerReport">
      <wsdl:input wsaw:Action="GetCustomerReportRequest" message="tns:DashboardService_GetCustomerReport_InputMessage" />
      <wsdl:output wsaw:Action="GetCustomerReportResponse" message="tns:DashboardService_GetCustomerReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRouteReport">
      <wsdl:input wsaw:Action="GetRouteReportRequest" message="tns:DashboardService_GetRouteReport_InputMessage" />
      <wsdl:output wsaw:Action="GetRouteReportResponse" message="tns:DashboardService_GetRouteReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrunkReport">
      <wsdl:input wsaw:Action="GetTrunkReportRequest" message="tns:DashboardService_GetTrunkReport_InputMessage" />
      <wsdl:output wsaw:Action="GetTrunkReportResponse" message="tns:DashboardService_GetTrunkReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logger">
      <wsdl:input wsaw:Action="LogRequest" message="tns:DashboardService_Logger_InputMessage" />
      <wsdl:output wsaw:Action="LogResponse" message="tns:DashboardService_Logger_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>