Rbr/RbrDashboard/RbrSilverlight/Service References/ServiceReference/RbrDashboardService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.timok.com/services/v3.0" elementFormDefault="qualified" targetNamespace="http://www.timok.com/services/v3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4767/Services/RbrDashboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RbrData.DataContracts" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RbrData.DataContracts" minOccurs="0" name="LoginResult" nillable="true" type="q1:ReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pShortDateString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RbrData.DataContracts" minOccurs="0" name="GetNodeReportResult" nillable="true" type="q2:ReportContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPartnerId" type="xs:int" />
        <xs:element minOccurs="0" name="pShortDateString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RbrData.DataContracts" minOccurs="0" name="GetCustomerReportResult" nillable="true" type="q3:ReportContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPartnerId" type="xs:int" />
        <xs:element minOccurs="0" name="pShortDateString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RbrData.DataContracts" minOccurs="0" name="GetRouteReportResult" nillable="true" type="q4:ReportContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrunkReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPartnerId" type="xs:int" />
        <xs:element minOccurs="0" name="pShortDateString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrunkReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RbrData.DataContracts" minOccurs="0" name="GetTrunkReportResult" nillable="true" type="q5:ReportContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logger">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoggerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>